@charset "UTF-8";
@font-face {
	font-family: 'dense';
	src: url('font/dense-regular-webfont.eot');
	src: url('font/dense-regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/dense-regular-webfont.woff') format('woff'), url('font/dense-regular-webfont.ttf') format('truetype'), url('font/dense-regular-webfont.svg#denseregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: skyblue;
}

body,
.webix_view,
.webix_control button,
.webix_control input,
.webix_control textarea,
.webix_el_label,
.webix_inp_bottom_label,
.webix_inp_label,
.webix_inp_top_label,
.webix_el_button button,
.webix_el_button input,
.webix_el_toggle button,
.webix_el_toggle input,
.webixbutton,
.webix_layout_toolbar,
.webix_layout_toolbar.webix_toolbar,
.webix_accordionitem_header,
.webix_el_colorpicker .webix_inp_static,
.webix_el_colorpicker input,
.webix_el_combo .webix_inp_static,
.webix_el_combo input,
.webix_el_datepicker .webix_inp_static,
.webix_el_datepicker input,
.webix_el_richselect .webix_inp_static,
.webix_el_richselect input,
.webix_el_search .webix_inp_static,
.webix_el_search input,
.webix_layout_toolbar.webix_toolbar .webix_el_icon,
.webix_el_box,
.webix_layout_toolbar.webix_toolbar .webix_icon_button,
.webix_layout_toolbar.webix_toolbar .webix_img_btn,
.webix_layout_toolbar.webix_toolbar .webix_img_btn_abs,
.webix_layout_toolbar.webix_toolbar .webix_img_btn_abs .webix_img_btn_text,
.webix_layout_toolbar.webix_toolbar .webix_img_btn_top .webix_img_btn_text,
.webix_layout_toolbar.webix_toolbar .webix_inp_counter_next:hover,
.webix_layout_toolbar.webix_toolbar .webix_inp_counter_prev:hover,
.webix_layout_toolbar.webix_toolbar .webix_segment_0:hover,
.webix_layout_toolbar.webix_toolbar .webix_segment_1:hover,
.webix_layout_toolbar.webix_toolbar .webix_segment_N:hover,
.webix_layout_toolbar.webix_toolbar .webixtype_base:hover,
.webix_layout_toolbar.webix_toolbar .webix_el_button,
.webix_layout_toolbar.webix_toolbar .webix_el_label,
.webix_layout_toolbar.webix_toolbar .webix_inp_label,
.webix_layout_toolbar.webix_toolbar .webix_inp_counter_next,
.webix_layout_toolbar.webix_toolbar .webix_inp_counter_prev,
.webix_layout_toolbar.webix_toolbar .webix_segment_0,
.webix_layout_toolbar.webix_toolbar .webix_segment_1,
.webix_layout_toolbar.webix_toolbar .webix_segment_N,
.webix_layout_toolbar.webix_toolbar .webixtype_base,
.webix_layout_toolbar.webix_toolbar .webixtype_next,
.webix_layout_toolbar.webix_toolbar .webixtype_prev,
.webix_dd_drag_column,
.webix_ss_header,
.webix_ss_header TD,
.webix_ss_vscroll_header {
	font-family: '맑은고딕', 'MalgunGothic', '나눔고딕', 'NanumGothic', Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #000;
}

.webix_layout_toolbar.webix_toolbar .webix_el_icon,
.webix_layout_toolbar.webix_toolbar .webix_icon_btn,
.webix_layout_toolbar.webix_toolbar .webix_icon_button,
.webix_layout_toolbar.webix_toolbar .webix_img_btn,
.webix_layout_toolbar.webix_toolbar .webix_img_btn_abs,
.webix_layout_toolbar.webix_toolbar .webix_img_btn_abs .webix_icon,
.webix_layout_toolbar.webix_toolbar .webix_img_btn_top .webix_icon,
.webix_layout_toolbar.webix_toolbar .webix_icon_button .webix_icon {
	font-size: 16px;
	color: #3D6480;
}

.webix_view {
	border-color: #A0A0A0;
}

.webix_icon,
.webix_input_icon {
	font-size: 16px;
}

.webix_layout_toolbar.webix_toolbar,
.webix_accordionitem_header {
	background: #F0F0F0;
	color: #000;
}

.workspace .webix_layout_toolbar.webix_toolbar .webix_icon_button .webix_icon {
	height: 16px;
}

.webix_view.slice_list_search {
	background: #F0F0F0;
}

.slice_list_search .webix_input_icon {
	line-height: 19px;
}

.tw_main>.webix_layout_toolbar.webix_toolbar.top_toolbar,
.footer .webix_view {
	background: #6881E4;
	margin-bottom: 3px;
}

.footer .webix_view,
.tw_main>.webix_layout_toolbar.webix_toolbar.top_toolbar .webix_el_label div,
.tw_main>.webix_layout_toolbar.webix_toolbar.top_toolbar .webixtype_base {
	color: #F0F0F0;
}

.webix_layout_toolbar.webix_toolbar .webix_el_box .webix_img_btn_abs:hover,
.webix_layout_toolbar.webix_toolbar .webix_el_icon .webix_icon_button:hover {
	background: rgba(0, 0, 0, .05);
}

.webix_view.webix_layout_accordion.workspace_container {
	background: transparent;
}

.tw_content>.webix_view.webix_resizer {
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
	background: transparent;
}

.workspace .webix_toolbar.top_toolbar {
	width: 200px !important;
	border-width: 1px !important;
	border-top-right-radius: 25px;
}

.webix_el_label.tw_label {
	margin-left: 0 !important;
}

.webix_el_label.tw_label i {
	color: #1CB24B;
	margin-right: 3px;
}

.webix_el_label.logo_label div {
	font-family: dense, serif, sans-serif;
	font-size: 28px;
}

.webix_el_button.design_button .webixtype_base,
.webix_el_button.admin_button .webixtype_base {
	font-family: dense, serif, sans-serif;
	font-size: 20px;
}

.tw_icon_master {
	background: url("../img/svg/MASTER.svg");
}

.tw_icon_transaction {
	background: url("../img/svg/TRANSACTION.svg");
}

.tw_icon_slice_group {
	background: url("../img/svg/SLICE_GROUP.svg");
}

.tw_tree_icon_font {
	font-size: 13px;
	margin-right: 3px;
	color: #3D6480;
}

.webix_tree_file,
.webix_tree_folder,
.webix_tree_folder_open {
	background-position: 0 center;
	margin: 0 2px;
}

.tw_tree_icon,
.webix_tree_close,
.webix_tree_file,
.webix_tree_folder,
.webix_tree_folder_open,
.webix_tree_none,
.webix_tree_open {
	float: left;
	width: 20px;
	height: 100%;
	cursor: pointer;
	margin: 0;
	background-repeat: no-repeat;
}

.tw_tree_icon {
	background-size: 22px;
	margin-right: 3px;
}

.tag_column>div:nth-child(even) {
	background: #ffffdd;
}

.tag_column>div:nth-child(odd) {
	background: #ffffee;
}

.webix_list_item.webix_selected {
	color: #666;
	border: 2px solid orangered !important;
	background: #fff;
	border-radius: 4px;
}

.webix_list_item {
	background: #fff;
	margin: 3px;
	border-radius: 4px;
}

.webix_tree_item.webix_selected span {
	background: #f0f0f0;
	color: #000000;
}

.webix_view .webix_tree_close:before {
	content: "\f105";
}

.webix_view .webix_tree_open:before {
	content: "\f107";
}

.slice_list_1,
.slice_list_s1,
.slice_list_s1.webix_selected {
	background: #d5eed6 !important;
}

.slice_list_2,
.slice_list_s2,
.slice_list_s2.webix_selected {
	background: #eee7e9;
}

.slice_list_3,
.slice_list_s3,
.slice_list_s3.webix_selected {
	background: #d6e1ee;
}

.slice_list_4,
.slice_list_s4,
.slice_list_s4.webix_selected {
	background: #d2cdee;
}

.slice_list_box {
	background: #797979;
	height: 57px !important;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.slice_list_toolbar {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
